<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soo.dao.DonationDao">

    <resultMap type="Donation" id="DonationMap">
        <id column="dona_no" property="no"/>
        <result column="dona_name" property="name"/>
        <result column="dona_orgn_name" property="orgnName"/>
        <result column="dona_classify_cd" property="classifyCode"/>
        <result column="dona_text" property="donaContent"/>
        <result column="dona_target_amount" property="targetAmount"/>
        <result column="dona_total_amount" property="totalAmount"/>
        <result column="dona_sdt" property="startDate"/>
        <result column="dona_edt" property="endDate"/>
        <result column="dona_target" property="target"/>
        <result column="dona_target_number" property="targetNumber"/>
        <result column="dona_effect" property="effect"/>
        <result column="dona_thumbnail" property="thumbnail"/>
        <collection resultMap="DetailCodeMap" property="detailCode" />
    </resultMap>

    <resultMap type="DetailCode" id="DetailCodeMap">
        <id column="DTL_CD" property="detailCode"/>
        <result column="LAR_CD" property="largeCode"/>
        <result column="DTL_CD_NM" property="detailCodeName"/>
    </resultMap>

    <resultMap type="DonationHistory" id="DonationHistoryMap">
        <id column="mem_dona_no" property="historyNo"/>
        <result column="member_no" property="memberNo"/>
        <result column="dona_no" property="donaNo"/>
        <result column="amount" property="donateAmount"/>
        <result column="ddt" property="donateDate"/>
    </resultMap>

    <sql id="basicColumn">
        select
        do.dona_no,
        do.dona_name,
        do.dona_orgn_name,
        do.dona_classify_cd,
        do.dona_text,
        do.dona_target_amount,
        do.dona_total_amount,
        do.dona_sdt,
        do.dona_edt,
        do.dona_thumbnail
    </sql>

    <sql id="detailCodeColumn">
        d.LAR_CD,
        d.DTL_CD,
        d.DTL_CD_NM
    </sql>

    <select id="findAll" resultMap="DonationMap">
        <include refid="basicColumn"/>,
        <include refid="detailCodeColumn"/>
        from donation do
        join detail_code d
        on do.dona_classify_cd = d.DTL_CD
        order by dona_no desc;
    </select>


    <select id="findCodeNameByCode" resultMap="DetailCodeMap">
        <include refid="basicColumn"/>,
        <include refid="detailCodeColumn"/>
        from donation do
        join detail_code d
        on do.dona_classify_cd = d.DTL_CD;
    </select>

    <insert id="insert" parameterType="Donation">
        insert into donation(dona_name,dona_orgn_name,dona_classify_cd,dona_text,dona_target_amount,dona_total_amount,dona_sdt,dona_edt,dona_thumbnail)
        values(#{name},#{orgnName},#{classifyCode},#{donaContent},#{targetAmount},#{totalAmount},#{startDate},#{endDate},#{thumbnail})
    </insert>

    <select id="findBy" parameterType="int" resultMap="DonationMap">
        <include refid="basicColumn"/>,
        <include refid="detailCodeColumn"/>
        from donation do
        join detail_code d
        on do.dona_classify_cd = d.DTL_CD
        and do.dona_no=#{value}
    </select>

    <delete id="delete" parameterType="int">
        delete from donation
        where dona_no=#{value}
    </delete>

    <update id="update" parameterType="Donation">
        update donation
        <set>
            <if test="name != null">dona_name=#{name},</if>
            <if test="orgnName != null">dona_orgn_name=#{orgnName},</if>
            <if test="classifyCode != null">dona_classify_cd=#{classifyCode},</if>
            <if test="donaContent != null">dona_text=#{donaContent},</if>
            <if test="targetAmount > 0">dona_target_amount=#{targetAmount},</if>
            <if test="totalAmount > 0">dona_total_amount=#{totalAmount},</if>
            <if test="startDate != null">dona_sdt=#{startDate},</if>
            <if test="endDate != null">dona_edt=#{endDate},</if>
            <if test="thumbnail != null">dona_thumbnail=#{thumbnail}</if>

        </set>
        where dona_no=#{no}
    </update>

    <insert id="insertDonationHistory" parameterType="DonationHistory">
        insert into dona_history(member_no,dona_no,amount,ddt)
        values(#{memberNo},#{donaNo},#{donateAmount},now())
    </insert>

    <update id="addCmtCount" parameterType="Donation">
        update donation
        set dona_countCmt
        where dona_no=#{no}
    </update>

    <update id="minusCmtCount" parameterType="Donation">
        update donation
        set dona_countCmt
        where dona_no=#{no}
    </update>





</mapper>