<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soo.dao.MemberDao">

    <resultMap type="Member" id="MemberMap">
        <id column="member_no" property="no"/>
        <result column="rdt" property="registeredDate"/>
    </resultMap>

    <sql id="basicColumn">
        select
        member_no,
        id,
        name,
        password,
        email,
        photo,
        rdt
    </sql>

    <select id="findAll" resultMap="MemberMap">
        <include refid="basicColumn"/>
        from member
        order by member_no asc
    </select>

    <insert id="insert" parameterType="Member">
        insert into member(id,name,password,email,photo,rdt)
        values(#{id},#{name},password(#{password}),#{email},#{photo},now())
    </insert>


    <!--<select id="loginCheck" parameterType="String" resultType="int">
      select count(*) from member where id=#{id}
    </select>-->



</mapper>